.pet {
  &-card-list {
    overflow-y: auto;
    height: 460px;
    ul {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
    li {
      margin-bottom: 30px;
    }
    .card-box {
      display: flex;
      width: 90%;
      @include box-shadow(28px, 32px, 17px, -5px, rgba(95, 94, 94, 0.62));
      border-radius: 14px;
      overflow: hidden;
      background-color: $white;
    }
    .thumbnail-wrap {
      position: relative;
      width: 30%;
      overflow: hidden;
      .center {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%);
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        height: auto;
        transform: translate(-50%, -50%);
      }
    }
    .details-wrap {
      width: 70%;
      padding: 1em 1.2em 1em 0;
      text-align: center;
      .info-box {
        display: inline-block;
        margin-bottom: 0.3em;
        padding: 0.6em 0.8em 0.1em;
        border-radius: 10px;
        background-color: $beige;
        p {
          margin-top: 0;
          margin-bottom: 0.5em;
          font-weight: bold;
        }
        .info-icon {
          vertical-align: middle;
          margin-right: 0.3em;
        }
        .info-text {
          vertical-align: middle;
        }
      }
      p {
        font-size: 0.8rem;
        margin-top: 0.2em;
      }
    }
  }
}

@include tablet {
  .pet {
    &-card-list {
      height: 770px;
    }
  }
}

@include mobile {
  .pet {
    &-card-list {
      height: auto;
      overflow-y: unset;
      ul {
        padding: 0;
      }
      .card-box {
        width: 100%;
      }
    }
  }
}

@include mobile-sm {
  .pet-card-list {
    ul {
      flex-direction: row;
      flex-wrap: wrap;
    }
    li {
      width: 46%;
      margin: 0.8em 2%;
    }
    .card-box {
      flex-direction: column;
    }
    .thumbnail-wrap {
      width: 100%;
      padding-top: 100%;
    }
    .details-wrap {
      width: 100%;
      padding: 0 0 1em 0;
      .info-box {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        height: 174px;
        padding: 0.8em 1em;
        border-radius: 0;
        p {
          padding: 0;
        }
      }
      p {
        padding: 0 0.5em;
      }
    }
  }
}
