.pet {
  &-header {
    display: flex;
    align-items: center;
  }
  &-menu {
    margin-left: auto;
    font-size: 1.25rem;
    .link {
      margin-right: 14px;
      text-decoration: none;
      color: $black;
      &:hover {
        color: $green;
      }
    }
  }
  .btn-logout {
    display: flex;
    align-items: center;
    padding: 4px 5px;
    background-color: $blue;
    color: $white;
    font-size: 0.8rem;
    border-radius: 4px;
  }
}
