//AddPetForm, EditPetForm CSS
.petForm {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0 10px;
      width: 50%;
    }
  }
  .label {
    display: block;
    margin-top: 1.4em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 14px;
  }
  input {
    width: 140px;
    padding: 8px 6px;
    border: 0;
    border-bottom: 1px solid $black;
  }
  .inp-unit {
    position: relative;
    display: block;
    width: 140px;
    padding-right: 20px;
    &:after {
      content: "kg";
      position: absolute;
      bottom: 10px;
      right: 0;
      font-weight: bold;
    }
    .inp-weight {
      width: 100%;
    }
  }
  .inp-datepicker {
    width: 181px;
    input {
      width: 100%;
    }
  }
  .btn-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
    .btn {
      width: 100px;
      height: 34px;
      margin: 0 0.2em;
      color: $white;
      background-color: $blue;
      border-radius: 10em;
      transition: all 0.2s ease-in;
      &:hover {
        background-color: $black;
      }
    }
  }
}

@include mobile-sm {
  .petForm {
    input {
      width: 100%;
    }
    .inp-unit {
      width: 100%;
    }
    .inp-datepicker,
    .ant-select {
      width: 100%;
    }
    .btn-wrap {
      justify-content: center;
    }
  }
}
