$red: #fa5252;
$blue: #339af0;
$green: #40c057;
$yellow: #fcc419;
$white: #fff;
$black: #000;
$lightViolet: #e8eaf6;
$beige: #f5f5dc;
$purple: #681ce2;
$peach: #e6000078;

@mixin box-shadow($top, $left, $blur, $spread, $color) {
  -webkit-box-shadow: $top $left $blur $spread $color;
  -moz-box-shadow: $top $left $blur $spread $color;
  box-shadow: $top $left $blur $spread $color;
}
