.pet {
  width: 75rem;
  padding: 2em;
  @include box-shadow(0, 2px, 22px, 2px, rgba(0, 0, 0, 0.75));
  &-wrapper {
    display: flex;
    flex-direction: row;
    height: 500px;
    margin-top: 30px;
  }
  &-info {
    width: 80%;
    padding-left: 2.5em;
  }
  &-contents {
    width: 100%;
    padding-left: 40px;
    .title {
      font-weight: bold;
      font-size: 1.1rem;
    }
    .link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $blue;
      font-size: 1rem;
      &:hover {
        color: $green;
      }
    }
  }
  &-empty {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    .text {
      margin-top: 1em;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: $pc) {
  .pet {
    width: 100%;
  }
}

@media screen and (max-width: $tablet) {
  .pet-contents {
    padding-left: 0;
  }
}

@include tablet {
  .pet-wrapper {
    height: 850px;
    margin-top: 30px;
  }
}

@include mobile {
  .pet {
    &-wrapper {
      flex-direction: column;
      height: auto;
    }
    &-info {
      width: 100%;
      margin-top: 1.6em;
      padding-left: 0;
    }
  }
}

@include mobile-sm {
  .pet {
    padding: 1.2em;
  }
}
