// @import "layout.scss";

.pet {
  width: 75rem;
  padding: 2em;
  @include box-shadow(0, 2px, 22px, 2px, rgba(0, 0, 0, 0.75));

  &-wrapper {
    display: flex;
    flex-direction: row;
    height: 500px;
    margin-top: 50px;
  }
  &-info {
    width: 80%;
    padding-left: 40px;
  }
  &-contents {
    width: 90%;
    padding-left: 40px;
    .title {
      font-weight: bold;
      font-size: 1.1rem;
    }
    .link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $blue;
      font-size: 1rem;
      &:hover {
        color: $green;
      }
    }
  }
  &-empty {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    .text {
      margin-top: 1em;
      font-size: 1.2rem;
    }
  }
  &-card-list {
    overflow-y: auto;
    height: 400px;
    ul {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
    li {
      margin-bottom: 30px;
    }
    .card-box {
      display: flex;
      width: 90%;
      @include box-shadow(28px, 32px, 17px, -5px, rgba(95, 94, 94, 0.62));
      border-radius: 14px;
      overflow: hidden;
    }
    .thumbnail-wrap {
      position: relative;
      // padding-top: 100%;
      width: 30%;
      overflow: hidden;
      .center {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%);
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        height: auto;
        transform: translate(-50%, -50%);
      }
    }
    .details-wrap {
      width: 70%;
      padding: 10px 20px;
      text-align: center;
      .info-box {
        display: inline-block;
        margin-bottom: 5px;
        padding: 8px 16px;
        border-radius: 10px;
        background-color: $beige;
      }
      p {
        margin: 3px 0 0;
      }
    }
  }
}
