.image-uploader {
  display: inline-flex;
  align-items: center;
  margin-top: 0.5em;
  padding: 0.4em 0.8em;
  background-color: $beige;
  border-radius: 6px;
  .input-image {
    display: none;
  }
  .image-name {
    display: inline-block;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    & + .btn-image {
      margin-left: 0.5em;
    }
  }
  .btn-image {
    padding: 0.2em 0.8em;
    border-radius: 4px;
    background-color: $black;
    color: $white;
    transition: background-color 0.2s ease-in;
    text-transform: uppercase;
    &:hover {
      background-color: $blue;
    }
  }
  .btn-image-remove:hover {
    color: $red;
  }
}
@include mobile-sm {
  .image-uploader {
    flex-direction: column;
    .btn-image {
      margin-top: 0.2rem;
      font-size: 0.8rem;
    }
  }
}
